body {
  font-family: "Times New Roman", Times, serif;
  margin: 0%;
}
header {
  background-color: antiquewhite;
  display: flex;
  min-height: 100px;
}
h3 {
  font-family: Garamond;
  color: rgb(95, 32, 32);
  padding: 10px 2%;
  font-size: 40px;
  margin: 0%;
  max-width: 50%;
  align-self: center;
}

nav {
  align-self: center;
  align-items: right;
  margin-left: auto;
}
a {
  text-decoration: none;
  color: rgb(160, 100, 89);
  font-size: large;
  padding: 5px 30px;
  margin: 6px;
  border-bottom: 2px solid;
}
a:hover {
  border-bottom: 3px solid rgb(112, 44, 32);
  color: rgb(112, 44, 32);
}

main {
  background-image: url('Photos/paper.jpg');
  min-height: 650px;
  position: relative;
  overflow: hidden;
}

.intro {
  color: rgb(3, 75, 51);
  width: 50%;
  font-family: "Sono", sans-serif;
  font-size: xx-large;
  padding: 5% 6%;
  position: absolute;
  top: 12.5%;
  left: 5%;
  background-color: #fce8b4;
}
.banner-hola{
  position: absolute;
  font-family:T;
  font-size: 250%;
  background-color: rgb(226, 226, 226);
  z-index: 1;
  min-width: 40%;
  top:5%;
  text-align: right;
  padding:1% 8% 1% 0%;
}
img {
  position: absolute;
  height: 65%;
  top: 18%;
  left: 63%;
  /* border-radius: 5px; */
}

.project{
  position: relative;
  background-color: blue;
}

.banner-projects{
  position: absolute;
  font-family:T;
  font-size: 250%;
  background-color: rgb(226, 226, 226);
  z-index: 1;
  min-width: 40%;
  top:5%;
  text-align: right;
  padding:1% 8% 1% 0%;
}